.content {
  text-align: center;
}
.title {
  font-size: 18px;
}
.type {
  margin-top: 15px;
  margin-bottom: 10px;
  display: inline-flex;
}
.item {
  display: inline-block;
  width: 180px;
}
.item:first-child {
  margin-right: 20px;
}
.item img{
  width: 180px;
  cursor: pointer;
}
.breadcrumb {
  width: 100%;
  text-align: left;
}
