* {
  margin: 0;
  padding: 0;
}

body {
  color: #929293;
  background-color: #303030;
}

.title {
  margin-top: 10px;
  margin-left: 6%;
  display: inline-block;
}

.title>div {
  color: #FFF;
  float: left;
}

.titleImage {
  width: 30px;
  padding: 3px 5px;
  border-radius: 32px;
  border: 1px solid #6e6e6e;
}

.titleImage>img {
  width: 100%;
}

.titleName {
  padding-top: 12px;
  padding-left: 10px;
}

.sassList {
  width: 100%;
  display: inline-block;
}

.listPanel {
  display: flex;
  margin-top: 50px;
}

.sassTitle {
  flex: 1;
}

.sassTitle p {
  text-align: right;
  margin-top: -31px;
}

.sassContent {
  flex: 7;
  background-image: url("../img/boss/ban.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
}

.sassPlaceHolder, .iassPlaceHolder {
  flex: 1;
}

.sassContent>li:first-child {
  margin-left: 80px;
}

.sassContent>li {
  text-align: center;
  width: 14%;
  margin-right: 10px;
  height: 82px;
  float: left;
  list-style: none;
  padding-top: 10px;
  background-color: #262627;
  margin-top: -33px;
  font-size: 16px;
}

.sassLiContentFont {
  margin-top: 10px;
}

.sassLiContentFont p {
  font-size: 14px;
  color: #30af81;
  line-height: 12px;
}

.sassContentFirstList {
  color: #30af81;
  font-size: 32px;
}

.iaasTitle {
  flex: 1;
}

.iaasTitle p {
  text-align: right;
  margin-top: -25px;
}

.iaasContent {
  flex: 7;
  background-image: url("../img/boss/ban.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
}

.iaasContent>li {
  text-align: center;
  float: left;
  width: 9%;
  margin-right: 8px;
  list-style: none;
  margin-top: -33px;
}

.iaasContent>li:first-child {
  margin-left: 80px;
}

.iaasContent>li>i {
  color: #30af81;
  font-size: 48px;
}

.iaasContent>li>p {
  margin-top: 10px;
}

.cloudImgWrap {
  background-image: url("../img/boss/di.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 5px;
}

.cloud {
  margin: 0 auto;
  width: 206px;
  height: 118px;
  background-image: url("../img/boss/yun.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  position: relative;
}

.countryGroupWrap {
  display: flex;
  width: 85%;
  margin: 0 auto;
}

.countryGroup {
  flex: 1;
  background-color: #222223;
}
.countryGroup:not(:last-child){
  margin-right: 10px;
}

.countryTitle {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #303031;
}

.countryItem {
  display: flex;
  padding: 5px;
}

.countryImg {
  flex: 1;
  padding-left: 10px;
}

.countryImg img {
  width: 80%;
}

.countryName {
  flex: 2;
  text-align: center;
  padding-top: 5px;
}

.countryTime {
  flex: 1;
  text-align: center;
  padding-top: 5px;
}

.countryStatus {
  flex: 1;
  padding-top: 10px;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #30af81;
  border-bottom: 1px solid #303031;
  margin: 0 auto;
}

.canvasDiv {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

@-webkit-keyframes star_01 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes star_01 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes star_span_01 {
  0%, 100% {
    -webkit-transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-290px);
  }
}

@keyframes star_span_01 {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-290px);
  }
}

@-webkit-keyframes star_i_01 {
  0%, 100% {
    -webkit-transform: translateY(0) scale(0.8);
  }
  50% {
    -webkit-transform: translateY(88.2px) scale(1);
  }
}

@keyframes star_i_01 {
  0%, 100% {
    transform: translateY(0) scale(0.8);
  }
  50% {
    transform: translateY(88.2px) scale(1);
  }
}

@-webkit-keyframes star_span_02 {
  0%, 100% {
    -webkit-transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-350px);
  }
}

@keyframes star_span_02 {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-350px);
  }
}

@-webkit-keyframes star_i_02 {
  0%, 100% {
    -webkit-transform: translateY(0) scale(0.8);
  }
  50% {
    -webkit-transform: translateY(106.2px) scale(1);
  }
}

@keyframes star_i_02 {
  0%, 100% {
    transform: translateY(0) scale(0.8);
  }
  50% {
    transform: translateY(106.2px) scale(1);
  }
}

@-webkit-keyframes star_span_03 {
  0%, 100% {
    -webkit-transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-410px);
  }
}

@keyframes star_span_03 {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-410px);
  }
}

@-webkit-keyframes star_i_03 {
  0%, 100% {
    -webkit-transform: translateY(0) scale(0.8);
  }
  50% {
    -webkit-transform: translateY(124.2px) scale(1);
  }
}

@keyframes star_i_03 {
  0%, 100% {
    transform: translateY(0) scale(0.8);
  }
  50% {
    transform: translateY(124.2px) scale(1);
  }
}


.wrap-bg {
  width: 290px;
  height: 290px;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -145px;
  border: 2px solid #30af81;
  border-radius: 50%;
  -webkit-transform: scale3d(1, 0.3, 1);
  transform: scale3d(1, 0.3, 1);
}

.wrap-bg2 {
  width: 350px;
  height: 350px;
  top: -30px;
  margin-left: -175px;
}

.wrap-bg3 {
  width: 410px;
  height: 410px;
  top: -50px;
  margin-left: -205px;
}
.wrap-icon {
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  left: 50%;
  top: 0;
  z-index: 2;
  opacity: 0;
  width: 15px;
  height: 15px;
  margin-top: 84px;
  margin-left: 140px;
  -webkit-animation: star_01 0.5s 2.5s linear forwards;
  animation: star_01 0.5s 2.5s linear forwards;
}

.wrap-icon span {
  width: 15px;
  height: 15px;
  display: block;
  -webkit-animation: star_span_01 10s 0s ease-in-out infinite;
  animation: star_span_01 10s 0s ease-in-out infinite;
}

.wrap-icon i {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: block;
  background: #30af81;
  background-size: 100% 100%;
  -webkit-animation: star_i_01 10s 2.5s ease-in-out infinite;
  animation: star_i_01 10s 2.5s ease-in-out infinite;
}
.wrap-icon2 {
  margin-left: 170px;
  margin-top: 87px;
}

.wrap-icon2 span {
  width: 12px;
  height: 12px;
  -webkit-animation: star_span_02 16s 0s ease-in-out infinite;
  animation: star_span_02 16s 0s ease-in-out infinite;
}

.wrap-icon2 i {
  width: 12px;
  height: 12px;
  -webkit-animation: star_i_02 16s 4s ease-in-out infinite;
  animation: star_i_02 16s 4s ease-in-out infinite;
}

.wrap-icon3 {
  margin-left: 200px;
  margin-top: 87px;
}

.wrap-icon3 span {
  width: 18px;
  height: 18px;
  -webkit-animation: star_span_03 12s 0s ease-in-out infinite;
  animation: star_span_03 12s 0s ease-in-out infinite;
}

.wrap-icon3 i {
  width: 18px;
  height: 18px;
  -webkit-animation: star_i_03 12s 3s ease-in-out infinite;
  animation: star_i_03 12s 3s ease-in-out infinite;
}
.countryLine {
  position: relative;
  width: 80%;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
}
.itemLine {
  position: relative;
  height: 80px;
  text-align: center;
  border-bottom: 1px solid #30af81;
}
.itemLine .line{
  position: relative;
  content: " ";
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  box-sizing:border-box;
  transform-origin:bottom center;
}

.itemLine1{
  width: 40%;
  left: -7%;
  transform:rotateZ(-10deg);
}
.itemLine2 {
  width: 10%;
  top: 75px;
  left: -6%;
  transform:rotateZ(-220deg);
}
.itemLine3{
  width: 10%;
  top: 75px;
  left: 6%;
  transform:rotateZ(220deg);
}
.itemLine4{
  width: 40%;
  right: -7%;
  transform:rotateZ(10deg);
}
.itemLine .line::after{
  position: absolute;
  content: '';
  width: 0;
  height: 0;
}
.itemLine1 .line::after{
  top: 100%;
  right: -5px;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-left: 10px solid #30af81;
  border-bottom: 5px solid transparent;
}
.itemLine2 .line::after{
  top: 100%;
  left: -5px;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-right: 10px solid #30af81;
  border-bottom: 5px solid transparent;
}
.itemLine3 .line::after{
  top: 100%;
  right: -5px;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-left: 10px solid #30af81;
  border-bottom: 5px solid transparent;
}
.itemLine4 .line::after{
  top: 100%;
  left: -5px;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-right: 10px solid #30af81;
  border-bottom: 5px solid transparent;
}
.cloudline {
  position: relative;
  width: 100%;
  height: 60px;
}
.cloudline .line{
  position:absolute;
  left:50%;
  top:5px;
  width: 2px;
  height:50px;
  box-sizing:border-box;
  background-color: #30af81;
}
.cloudline .line::after{
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  top: 100%;
  left: -4px;
  margin-top: -5px;
  border-left: 5px solid transparent;
  border-top: 10px solid #30af81;
  border-right: 5px solid transparent;
}
