html {
  background: #fff;
  font-family: PingFangSC-Regular,Microsoft YaHei,Helvetica;
  -webkit-text-size-adjust: none;
  word-break: break-word;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
  box-sizing: border-box;
  background: #fff;
}
a:-webkit-any-link {
  color: #333;
  text-decoration: none;
}
.iconfont {
  font-size: 18px;
}
.icon-open,.icon-shouqi_m{
  font-size: 15px;
  margin-left: 4px;
}
.detail-fenxiang {
  font-size: 17px;
  margin-right: 4px;
  margin-top: -2px;
  vertical-align: middle;
}
.am-action-sheet-share-list {
  height: 0;
  padding: 5px;
}
.am-action-sheet.am-action-sheet-share {
  background-color: #fff;
}
.am-action-sheet-share-list::before {
  height: 0;
}
.icon-top, .icon-shoucang1, .icon-shoucang2{
  font-size: 20px;
  color: #fff;
}

html:not([data-scale]) .am-action-sheet-share-list::before {
  height: 0;
}
.am-action-sheet-share-cancel-button {
  color: #d43d3d;
  font-weight: 700;
}
