.body {
  background: #fff;
  /* margin-bottom: 5px; */
  padding: 5px 0 10px;
  border-bottom: 1px solid rgba(221, 221, 221, 0.6);
}
.content {
  padding: 15px 10px 5px;
}
.title {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.3px;
  color: #222;
}
.footer {
  margin-top: 5px;
  padding-right: 20px;
  color: #aaa;
  font-size: 14px;
  display: flex;
  line-height: 20px;
  box-sizing: border-box;
}
.left {
  display: inline-block;
}
.news {
  font-size: 10px;
  color: #b145b8;
  border: 1px solid #b145b8;
  border-radius: 10px;
  padding: 2px 6px;
}
.jiagou {
  font-size: 10px;
  color: #29bbc0;
  border: 1px solid #29bbc0;
  border-radius: 10px;
  padding: 1px 5px;
}
.ai {
  font-size: 10px;
  color: #ee5757;
  border: 1px solid #ee5757;
  border-radius: 10px;
  padding: 2px 6px;
}
.qukuailian {
  font-size: 10px;
  color: #43ad32;
  border: 1px solid #43ad32;
  border-radius: 10px;
  padding: 2px 6px;
}
.right {
  font-size: 12px;
  display: inline-block;
  margin-left: 15px;
  line-height: 23px;
  color: #999;
}
.right span:not(:last-child){
  margin-right: 15px;
}
.right .source {
  margin-right: 25px;
}
.read i, .zan i, .share i{
  margin-right: 5px;
}
.btngroup {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  color: #666;
  font-size: 14px;
  padding: 0 15px 5px;
}
