.content {
  padding: 100px 0;
  border-bottom: 10px solid rgba(221, 221, 221, 0.6);
}
.title {
  font-size: 180px;
  color: #000;
}
.footer {
  margin-top: 150px;
  padding-right: 200px;
  color: #aaa;
  font-size: 120px;
  display: flex;
  justify-content: space-between;
  line-height: 150px;
}
.read i, .zan i{
  margin-right: 50px;
}
