.menu {
  position: relative;
  background-color: #f8f8f8;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
}
.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transition: height 0.5s;
  margin-left: -10px;
}
.item {
  display: inline-block;
  list-style: none;
  width: 20%;
  color: #333;
  box-sizing: border-box;
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  white-space: nowrap;
  text-align: center;
}
.show {
  position: absolute;
  right: 7px;
  bottom: 8px;
  width: 20%;
  z-index: 999;
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  color: #d43d3d;
  background-color: #f8f8f8;
  text-align: center;
}
.show span {
  white-space: nowrap;
}
@media screen and (max-width:320px) {
  .item {
    margin-left: 17px;
    font-size: 14px;
  }
  .show{
    font-size: 14px;
    right: 12px;
  }
}
