.menu {
  position: relative;
  background-color: #f8f8f8;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
}
.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transition: height 0.5s;
}
.item {
  display: inline-block;
  list-style: none;
  width: 20%;
  color: #333;
  box-sizing: border-box;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  white-space: nowrap;
}
.show {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: calc(20% - 2px);
  z-index: 999;
  height: 35px;
  line-height: 35px;
  color: #d43d3d;
  background-color: #f8f8f8;
}
