.menu {
  background-color: #f4f5f6;
  height: 37px;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}
.scroll {
  background-color: #f4f5f6;
  height: 37px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}
.scroll::-webkit-scrollbar {
  display: none;
}
.item {
  color: #505050;
  box-sizing: border-box;
  height: 37px;
  line-height: 37px;
  font-size: 17px;
  margin: 5px 0 5px 5px;
  padding: 0 10px;
}
