.body {
  height: 100%;
  box-sizing: border-box;
  flex: column;
  align-items: stretch;
  padding-top: 75px;
}
.header {
  position: fixed;
  width: 100%;
  margin-top: -75px;
  height: 75px;
}
.content {
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  background-color: #f5f5f5;
}
