.body {
  height: 100%;
  box-sizing: border-box;
  flex: column;
  align-items: stretch;
  padding-top: 40px;
  background-color: #f5f5f5;
}
.header {
  position: fixed;
  width: 100%;
  margin-top: -45px;
  height: 45px;
}
.content {
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  background-color: #f5f5f5;
}
.detail {
  height: 100%;
  box-sizing: border-box;
}
.navbar {
  background-color: #fff;
  color: #555;
  padding: 20px;
  border-bottom: 1px solid rgba(221, 221, 221, 0.6);
}
.navbar a {
  color: #555;
  text-decoration: none;
}
.currentNews {
  color: #222;
  padding: 15px 20px 40px;
  font-size: 22px;
  line-height: 25px;
  background-color: #fff;
}
.currentNewsTitle {
  margin-bottom: 10px;
}
.read i, .zan i{
  margin-right: 5px;
}
.btngroup {
  position: relative;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  width: 100%;
  color: #666;
  font-size: 14px;
  padding: 0;
  background-color: #fff;
}
.zan {
  margin-left: 15px;
}
.view {
  position: absolute;
  top: 0;
  right: 10px;
}
.otherNews {
  padding-top: 15px;
  background-color: #fff;
  border-top: 1px solid rgba(221, 221, 221, 0.6);
}
.otherHeader {
  line-height: 25px;
  display: flex;
  align-items: flex-end;
  color: #d43d3d;
}
.otherTitle {
  display: inline-block;
}
.otherTitle::before {
  content: '';
  width: 4px;
  height: 18px;
  border-radius: 1px;
  margin-right: 10px;
  background-color: #d43d3d;
  display: inline-block;
  vertical-align: sub;
}
.list {
  padding: 10px 0;
}
.item {
  background-color: #fff;
  padding: 20px;
  border-bottom: 1px solid rgba(221, 221, 221, 0.6);
}
.newsTitle {
  padding: 10px 0;
}
