<!DOCTYPE html>
<html lang="zh_CN" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>xuanchabao123.com-每天看一点最具价值的信息！</title>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,minimal-ui">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_799474_olshu2kufdr.css" />
    <script src="/static/conf.js" charset="utf-8"></script>
    <script type="text/javascript">
      ;(function () {
        var src = '/static/eruda.min.js';
        if (!/eruda=true/.test(window.location) && localStorage.getItem('active-eruda') != 'true') return;
        document.write('<scr' + 'ipt src="' + src + '"></scr' + 'ipt>');
        document.write('<scr' + 'ipt>eruda.init();</scr' + 'ipt>');
      })();
    </script>
  </head>
  <body>
  <div id="root"></div>
  </body>
</html>
