.footer {
  width: 100%;
  min-width: 1092px;
  height: 34px;
  line-height: 34px;
  background-color: #fff;
  font-size: 14px;
  color: #777;
  font-family: PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,Helvetica Neue,Arial,sans-serif;
}
.center {
  width: 1092px;
  margin: 0 auto;
  text-align: center;
}
.center span {
  margin: 0 20px;
}
.center a {
  color: #777 !important;
  margin: 0 20px;
}
.center img {
  vertical-align: middle;
  width: 15px;
  margin-right: 1px;
  margin-bottom: 1px;
}
