.content {
  width: 100%;
  margin-top: 15px;
  background-color: #ffffff;
  padding: 20px 100px;
  text-align: center;
}
.title {
  font-size: 16px;
  text-align: left;
  line-height: 30px;
}
.stauts {
  display: inline-block;
  background-color: #fa5343;
  color: #fff;
  font-size: 14px;
  padding: 0 8px;
  border-radius: 5px;
  margin-left: 10px;
  height: 20px;
  line-height: 20px;
}
.title a {
  color: #fa5343;
  margin-left: 10px;
  font-size: 12px;
}
.video {
  width: 100%;
  margin-top: 20px;
}
.relevant {
  padding-left: 10px;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #f0f0f0;
  margin-top: 30px;
  line-height: 30px;
  text-align: left;
  position: relative;
}
.relevant:after {
  content: ' ';
  display: inline-block;
  background-color: #3992d6;
  width: 75px;
  height: 2px;
  position: absolute;
  top: 30px;
  left: 0;
}
.relevantList {
  text-align: left;
  font-size: 12px;
}
.relevantList .year{
  margin-top: 10px;
  margin-bottom: 15px;
  padding-left: 10px;
  font-size: 14px;
  font-weight: bold;
}
.monthItem {
  display: inline-block;
  line-height: 25px;
  padding: 0 20px;
  background-color: #f0f0f0;
  color: #000000;
  border-radius: 20px;
  margin-right: 15px;
  cursor: pointer;
}
.monthActive {
  display: inline-block;
  line-height: 25px;
  padding: 0 20px;
  background-color: #3992d6;
  color: #ffffff;
  border-radius: 20px;
  margin-right: 15px;
  cursor: pointer;
}
.date {
  margin-top: 15px;
}
.dateItem {
  width: 8.33333%;
  display: inline-block;
  line-height: 35px;
  color: #000000;
  cursor: pointer;
}
.dateActive {
  width: 8.33333%;
  display: inline-block;
  line-height: 35px;
  color: #3992d6;
  cursor: pointer;
}
