.footer {
  background-color: #f2f2f2;
  text-align: center;
  line-height: 24px;
  padding: 10px 0;
  font-size: 12px;
}
.title {
  text-align: center;
}
.title img{
  height: 28px;
}
.desc {
  letter-spacing: 1px;
  color: #777;
  text-align: center;
}
.copyright {
  text-align: center;
  color: #ccc;
}
