<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>四达时代网络监控-OTT</title>
  <link rel="stylesheet" href="./css/main.css?version=1528769604144">
  <script src="./js/jquery.min.js?version=1528769604144" charset="utf-8"></script>
  <script src="./js/echarts.js?version=1528769604144" charset="utf-8"></script>
  <script src="./js/zabbix.js?version=1528769604144" charset="utf-8"></script>
</head>

<body>
  <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
  <div id="main"></div>
  <!--<div class="aws" onclick="goto('http://10.0.224.100:3000/d/7kn6CcImz/gslb-sheng-chan-huan-jing?refresh=1m')">-->
  <div class="aws" onclick="goto('http://192.168.32.70:8080/bi/Viewer?proc=1&action=viewer&hback=true&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!5168!!5c40!!8c03!!5ea6!!7cfb!!7edf!.db&isAir=false&browserType=chrome')">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <div class="title">全局调度系统</div>
    <div class="item"><label>总带宽：</label><p id="totalBandWidth" style="color: #30af81">0</p></div>
    <div class="item"><label>总用户：</label><p id="totalUsers" style="color: #30af81">0</p></div>
    <div class="item"><label>HTTP成功率：</label><p id="chenggonglv">0</p></div>
    <div class="item"><label>DNS成功率：</label><p id="chenggonglv2">0</p></div>
    <div class="item"><label>HTTP响应时间：</label><p id="xiangyingshijian">0</p></div>
    <div class="item"><label>HTTP QPS：</label><p id="qps">0</p></div>
  </div>
  <!--<div id="radar" class="radar" onclick="goto('./to_radar.html')">-->
  <div id="radar" class="radar" onclick="goto('http://192.168.32.70:8080/bi/Viewer?proc=1&action=viewer&hback=true&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!5357!!975e!OTT.db&isAir=false&browserType=chrome')">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <div class="title">南非OTT前端</div>
    <div class="item"><label>接收：</label><p id="jieshou"></p></div>
    <div class="item"><label>转码：</label><p id="zhuanma"></p></div>
    <div class="item"><label>切片：</label><p id="qiepian"></p></div>
    <div class="item"><label>上云：</label><p id="awsshangchuan"></p></div>
  </div>
  <div class="app">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <div class="title">APP用户体验</div>
    <div class="item"><label>播放：</label><p id="appplay"></p></div>
    <div class="item"><label>首页：</label><p id="apphome"></p></div>
    <div class="item"><label>登录：</label><p id="applogin"></p></div>
    <div class="item"><label>转化：</label><p id="appregister"></p></div>
    <div class="item"><label>订单：</label><p id="apporder"></p></div>
    <div class="item"><label>支付：</label><p id="apppay"></p></div>
  </div>
  <div class="total user">
      <div class="item">
          <div class="content">
              <div class="title">StarCDN在线用户数</div>
              <div class="user_box">
                  <div class="user_left">
                      <!--<div class="user_left_title">STAR: <span style="color: #30af81" id="cdnUserPercent"></span></div>-->
                      <div id="user_left" class="number user_left_number"></div>
                  </div>
                  <!--<div class="user_center">-->
                  <!--<span></span>-->
                  <!--</div>-->
                  <div class="user_right">
                      <!--<div class="user_right_title">AWS: <span style="color: #30af81" id="awsUserPercent"></span></div>-->
                      <div class="user_left_title"><span style="color: #30af81;font-size: 16px;position: relative;top: 54px;" id="cdnUserPercent"></span></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="total network">
      <div class="item">
          <div class="content">
              <div class="title">StarCDN带宽(<span id="networdUnit"></span>bps)</div>
              <div class="network_led">
                  <div class="network_led_float">
                      <!--<div class="network_title">STAR: <span style="color: #30af81" id="cdnNetWorkPercent"></span></div>-->
                      <div class="network_number">
                          <div id="networkStar" class="number" ></div>
                      </div>
                  </div>
                  <!--<div class="network_line"></div>-->
                  <div class="network_led_float">
                      <!--<div class="network_title">AWS: <span style="color: #30af81" id="awsNetWorkPercent"></span></div>-->
                      <div class="network_number">
                          <div class="network_title"><span style="color: #30af81;font-size: 16px;position: relative;top: 50px; " id="cdnNetWorkPercent"></span></div>
                          <!--<div id='networkAWS' class="number" ></div>-->
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="total top10">
    <div class="item">
      <div class="content">
        <div class="title">带宽占比Top<span id="networktop"></span></div>
        <div id="networkTop5" style="width:350px;height:250px;"></div>
      </div>
    </div>
  </div>
  <div class="instantBandwidth">StarCDN瞬时带宽(Gbps):<span id="instantBandwidth"></span></div>
  <script src="./map/africa.js?version=1528769604144" charset="utf-8"></script>
  <script src="./js/config.js?version=1528769604144" charset="utf-8"></script>
  <script type="text/javascript">
    echarts.registerMap('customMap', mapJson)
    var myChart = echarts.init(document.getElementById('main'))
    var top5Chart = echarts.init(document.getElementById('networkTop5'))
    var option = {
      backgroundColor: '#333333',
      geo: {
        name: '非洲地图',
        map: 'customMap',
        roam: true,
        zoom: 1.16,
        top: '10%',
        left: '30%',
        aspectScale: 0.9,
        itemStyle: {
          areaColor: '#151515',
          borderColor: '#555555'
        },
        emphasis: {
          itemStyle: {
            areaColor: '#151515',
            borderColor: '#555555'
          },
          label: {
            show: false
          }
        },

      },
      series: [
        {
          name: '地点',
          type: 'scatter',
          coordinateSystem: 'geo',
          zlevel: 10,
          showEffectOn: 'render',
          data: [
            {name: '亚马逊云', value:geoCoordMap['亚马逊云'], symbol: awsPath, symbolSize: 45, itemStyle: {color: getColor('good')}},
            {name: '北京', value:geoCoordMap['北京'], symbol: chinaPath, symbolSize: 50},
            {name: '卫星', value:geoCoordMap['卫星'], symbolSize: 0},
            {name: '上云站', value:geoCoordMap['上云站'], symbolSize: 0},
            {name: '上云站机房', value:geoCoordMap['上云站机房'], symbol: serverPath, symbolSize: 25}
          ]
        },
        {
          name: '网络状态',
          type: 'lines',
          zlevel: 1,
          effect: {
            show: true,
            constantSpeed: 30,
            symbol: 'arrow',
            // symbol: footballPath,
            symbolSize: 5,
            trailLength: 0,
          },
          data: []
        },
        {
          name: 'cache节点告警',
          // type: 'scatter',
          type: 'effectScatter',
          coordinateSystem: 'geo',
          zlevel: 2,
          // symbol: footballPath,
          symbolSize: 12,
          showEffectOn: 'render',
          rippleEffect: {
            period: 4,
            scale: 4,
            brushType: 'stroke',
            // brushType: 'fill'
          },
          data: []
        }
      ]
    }
    myChart.setOption(option, true)
    var satellitePx = myChart.convertToPixel('geo', geoCoordMap['卫星']),
    radarPix = myChart.convertToPixel('geo', geoCoordMap['上云站'])
    var satelliteImg = '<img src="' + satellitePath +'" style="position:absolute;top:' + satellitePx[1] + 'px;left:' + satellitePx[0] + 'px;width:45px;height:45px;" />',
    radarImg = '<img src="' + radarPath +'" style="position:absolute;top:' + radarPix[1] + 'px;left:' + radarPix[0] + 'px;width:45px;height:45px;" />'
    $('#main').after(satelliteImg).after(radarImg)
    myChart.on('click', function (params) {
      if (params.seriesType && (params.seriesType === 'effectScatter' || params.seriesType === 'scatter')) {
        switch (params.name) {
          case '北京':
            //goto('http://10.0.224.100:3000/d/Qb7BQ5Siz/cachezhan-dian-ce-shi-zu?refresh=1m&orgId=1')
            goto('http://192.168.32.70:8080/bi/Viewer?proc=1&action=viewer&hback=true&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!5168!!5c40!!8c03!!5ea6!!7cfb!!7edf!.db&isAir=false&browserType=chrome')
            break;
          default:
            if (params.data.url) {
              //goto('./cache.html#' + params.data.groupid)
                var idNum = parseInt(params.data.groupid);
                //线上环境
                /*switch (idNum) {
                    case 45://Ghana_MTN-CDN
                        goto('http://192.168.32.237:8080/bi/Viewer?proc=1&action=viewer&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_Ghana_MTN-CDN&isConsole=false&browserType=Chrome');
                        break;
                    case 60://CDN_乌干达_Africell
                        goto('http://192.168.32.237:8080/bi/Viewer?proc=1&action=viewer&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!4e4c!!5e72!!8fbe!_Africell&isConsole=false&browserType=Chrome');
                        break;
                    case 61://CDN_塞内加尔_Expresso
                        goto('http://192.168.32.237:8080/bi/Viewer?proc=1&action=viewer&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!5c3c!!65e5!!5229!!4e9a!_Glo&isConsole=false&browserType=Chrome');
                        break;
                    case 66://CDN_坦桑_Airtel
                        goto('http://192.168.32.237:8080/bi/Viewer?proc=1&action=viewer&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!5766!!6851!_Hallotel&isConsole=false&browserType=Chrome');
                        break;
                    case 67://CDN_刚果布_Airtel
                        goto('http://192.168.32.237:8080/bi/Viewer?proc=1&action=viewer&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!521a!!679c!!5e03!_Airtel&isConsole=false&browserType=Chrome');
                        break;
                    case 68://CDN_加纳_MTN
                        goto('http://192.168.32.237:8080/bi/Viewer?proc=1&action=viewer&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!52a0!!7eb3!_MTN&isConsole=false&browserType=Chrome');
                        break;
                    case 69://CDN_科特_MTN
                        goto('http://192.168.32.237:8080/bi/Viewer?proc=1&action=viewer&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!80af!!5c3c!!4e9a!_Safaricom&isConsole=false&browserType=Chrome');
                        break;
                    case 70://CDN_坦桑_Airtel
                        goto('http://192.168.32.237:8080/bi/Viewer?proc=1&action=viewer&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!5766!!6851!_Tigo&isConsole=false&browserType=Chrome');
                        break;
                    case 71://CDN_坦桑_Airtel
                        goto('http://192.168.32.237:8080/bi/Viewer?proc=1&action=viewer&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!4e4c!!5e72!!8fbe!_MTN&isConsole=false&browserType=Chrome');
                        break;
                    case 72://CDN_赞比亚_MTN
                        goto('http://192.168.32.237:8080/bi/Viewer?proc=1&action=viewer&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!8d5e!!6bd4!!4e9a!_MTN&isConsole=false&browserType=Chrome');
                        break;
                    case 73://CDN_南非_ Vodacom
                        goto('http://192.168.32.237:8080/bi/Viewer?proc=1&action=viewer&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!5357!!975e!_!20!Vodacom&isConsole=false&browserType=Chrome');
                        break;
                    case 74://CDN_南非_MTN
                        goto('http://192.168.32.237:8080/bi/Viewer?proc=1&action=viewer&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!5357!!975e!_MTN&isConsole=false&browserType=Chrome');
                        break;
                    case 75://CDN_乌干达_MTN
                        goto('http://192.168.32.237:8080/bi/Viewer?proc=1&action=viewer&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!4e4c!!5e72!!8fbe!_MTN&isConsole=false&browserType=Chrome');
                        break;
                    case 76://CDN_乌干达_Airtel
                        goto('http://192.168.32.237:8080/bi/Viewer?proc=1&action=viewer&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!4e4c!!5e72!!8fbe!_Airtel&isConsole=false&browserType=Chrome');
                        break;
                    case 78://CDN_塞内加尔_Expresso
                        goto('http://192.168.32.237:8080/bi/Viewer?proc=1&action=viewer&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!585e!!5185!!52a0!!5c14!_Expresso&isConsole=false&browserType=Chrome');
                        break;
                    case 79://CDN_莫桑比克_Vodacom
                        goto('http://192.168.32.237:8080/bi/Viewer?proc=1&action=viewer&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!83ab!!6851!!6bd4!!514b!_Vodacom&isConsole=false&browserType=Chrome');
                        break;
                    case 80://CDN_南非_ Vodacom
                        goto('http://192.168.32.237:8080/bi/Viewer?proc=1&action=viewer&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!5362!!65fa!!8fbe!&isConsole=false&browserType=Chrome');
                        break;
                    case 81://CDN_科特_MTN
                        goto('http://192.168.32.237:8080/bi/Viewer?proc=1&action=viewer&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!9a6c!!8fbe!&isConsole=false&browserType=Chrome');
                        break;
                    case 82://CDN_刚果金_Africell
                        goto('http://192.168.32.237:8080/bi/Viewer?proc=1&action=viewer&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!521a!!679c!!91d1!_Africell&isConsole=false&browserType=Chrome');
                        break;
                    case 83://CDN_刚果金_Vodacom
                        goto('http://192.168.32.237:8080/bi/Viewer?proc=1&action=viewer&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!521a!!679c!!91d1!_Vodacom&isConsole=false&browserType=Chrome');
                        break;
                    case 84://CDN_刚果金_Orange
                        goto('http://192.168.32.237:8080/bi/Viewer?proc=1&action=viewer&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!521a!!679c!!91d1!_Orange&isConsole=false&browserType=Chrome');
                        break;
                    case 85://CDN_喀麦隆
                        goto('http://192.168.32.237:8080/bi/Viewer?proc=1&action=viewer&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!5580!!9ea6!!9686!&isConsole=false&browserType=Chrome');
                        break;
                    case 86://CDN_几内亚_MTN
                        goto('http://192.168.32.237:8080/bi/Viewer?proc=1&action=viewer&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!51e0!!5185!!4e9a!_MTN&isConsole=false&browserType=Chrome');
                        break;
                    case 87://CDN_中非
                        goto('http://192.168.32.237:8080/bi/Viewer?proc=1&action=viewer&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!4e2d!!975e!&isConsole=false&browserType=Chrome');
                        break;
                    case 88://CDN_布隆迪_LEO
                        goto('http://192.168.32.237:8080/bi/Viewer?proc=1&action=viewer&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!5e03!!9686!!8fea!_LEO&isConsole=false&browserType=Chrome');
                        break;
                    case 89://CDN_塞内加尔_Expresso
                        goto('http://192.168.32.237:8080/bi/Viewer?proc=1&action=viewer&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!5c3c!!65e5!!5229!!4e9a!_MTN&isConsole=false&browserType=Chrome');
                        break;
                    case 90://CDN_科特_MTN
                        goto('http://192.168.32.237:8080/bi/Viewer?proc=1&action=viewer&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!79d1!!7279!&isConsole=false&browserType=Chrome');
                        break;
                    default:
                }*/
                //测试环境
                switch (idNum) {
                    case 45://Ghana_MTN-CDN
                        goto('http://192.168.32.70:8080/bi/Viewer?proc=1&action=viewer&hback=true&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_Ghana_MTN-CDN.db&isAir=false&browserType=chrome');
                        break;
                    case 60://CDN_乌干达_Africell
                        goto('http://192.168.32.70:8080/bi/Viewer?proc=1&action=viewer&hback=true&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!4e4c!!5e72!!8fbe!_Africell.db&isAir=false&browserType=chrome');
                        break;
                    case 61://CDN_塞内加尔_Expresso
                        goto('http://192.168.32.70:8080/bi/Viewer?proc=1&action=viewer&hback=true&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!5c3c!!65e5!!5229!!4e9a!_Glo.db&isAir=false&browserType=chrome');
                        break;
                    case 66://CDN_坦桑_Airtel
                        goto('http://192.168.32.70:8080/bi/Viewer?proc=1&action=viewer&hback=true&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!5766!!6851!_Hallotel.db&isAir=false&browserType=chrome');
                        break;
                    case 67://CDN_刚果布_Airtel
                        goto('http://192.168.32.70:8080/bi/Viewer?proc=1&action=viewer&hback=true&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!521a!!679c!!5e03!_Airtel.db&isAir=false&browserType=chrome');
                        break;
                    case 68://CDN_加纳_MTN
                        goto('http://192.168.32.70:8080/bi/Viewer?proc=1&action=viewer&hback=true&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!52a0!!7eb3!_MTN.db&isAir=false&browserType=chrome');
                        break;
                    case 69://CDN_科特_MTN
                        goto('http://192.168.32.70:8080/bi/Viewer?proc=1&action=viewer&hback=true&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!80af!!5c3c!!4e9a!_Safaricom.db&isAir=false&browserType=chrome');
                        break;
                    case 70://CDN_坦桑_Airtel
                        goto('http://192.168.32.70:8080/bi/Viewer?proc=1&action=viewer&hback=true&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!5766!!6851!_Tigo.db&isAir=false&browserType=chrome');
                        break;
                    case 71://CDN_坦桑_Airtel
                        goto('http://192.168.32.70:8080/bi/Viewer?proc=1&action=viewer&hback=true&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!5766!!6851!_Airtel.db&isAir=false&browserType=chrome');
                        break;
                    case 72://CDN_赞比亚_MTN
                        goto('http://192.168.32.70:8080/bi/Viewer?proc=1&action=viewer&hback=true&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!8d5e!!6bd4!!4e9a!_MTN.db&isAir=false&browserType=chrome');
                        break;
                    case 73://CDN_南非_ Vodacom
                        goto('http://192.168.32.70:8080/bi/Viewer?proc=1&action=viewer&hback=true&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!5357!!975e!_%20Vodacom.db&isAir=false&browserType=chrome');
                        break;
                    case 74://CDN_南非_MTN
                        goto('http://192.168.32.70:8080/bi/Viewer?proc=1&action=viewer&hback=true&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!5357!!975e!_MTN.db&isAir=false&browserType=chrome');
                        break;
                    case 75://CDN_乌干达_MTN
                        goto('http://192.168.32.70:8080/bi/Viewer?proc=1&action=viewer&hback=true&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!4e4c!!5e72!!8fbe!_MTN.db&isAir=false&browserType=chrome');
                        break;
                    case 76://CDN_乌干达_Airtel
                        goto('http://192.168.32.70:8080/bi/Viewer?proc=1&action=viewer&hback=true&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!4e4c!!5e72!!8fbe!_Africell.db&isAir=false&browserType=chrome');
                        break;
                    case 78://CDN_塞内加尔_Expresso
                        goto('http://192.168.32.70:8080/bi/Viewer?proc=1&action=viewer&hback=true&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!585e!!5185!!52a0!!5c14!_Expresso.db&isAir=false&browserType=chrome');
                        break;
                    case 79://CDN_莫桑比克_Vodacom
                        goto('http://192.168.32.70:8080/bi/Viewer?proc=1&action=viewer&hback=true&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!83ab!!6851!!6bd4!!514b!_Vodacom.db&isAir=false&browserType=chrome');
                        break;
                    case 80://CDN_南非_ Vodacom
                        goto('http://192.168.32.70:8080/bi/Viewer?proc=1&action=viewer&hback=true&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!5362!!65fa!!8fbe!.db&isAir=false&browserType=chrome');
                        break;
                    case 81://CDN_科特_MTN
                        goto('http://192.168.32.70:8080/bi/Viewer?proc=1&action=viewer&hback=true&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!9a6c!!8fbe!.db&isAir=false&browserType=chrome');
                        break;
                    case 82://CDN_刚果金_Africell
                        goto('http://192.168.32.70:8080/bi/Viewer?proc=1&action=viewer&hback=true&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!521a!!679c!!91d1!_Africell.db&isAir=false&browserType=chrome');
                        break;
                    case 83://CDN_刚果金_Vodacom
                        goto('http://192.168.32.70:8080/bi/Viewer?proc=1&action=viewer&hback=true&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!521a!!679c!!91d1!_Vodacom.db&isAir=false&browserType=chrome');
                        break;
                    case 84://CDN_刚果金_Orange
                        goto('http://192.168.32.70:8080/bi/Viewer?proc=1&action=viewer&hback=true&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!521a!!679c!!91d1!_Orange.db&isAir=false&browserType=chrome');
                        break;
                    case 85://CDN_喀麦隆
                        goto('http://192.168.32.70:8080/bi/Viewer?proc=1&action=viewer&hback=true&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!5580!!9ea6!!9686!.db&isAir=false&browserType=chrome');
                        break;
                    case 86://CDN_几内亚_MTN
                        goto('http://192.168.32.70:8080/bi/Viewer?proc=1&action=viewer&hback=true&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!51e0!!5185!!4e9a!_MTN.db&isAir=false&browserType=chrome');
                        break;
                    case 87://CDN_中非
                        goto('http://192.168.32.70:8080/bi/Viewer?proc=1&action=viewer&hback=true&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!4e2d!!975e!.db&isAir=false&browserType=chrome');
                        break;
                    case 88://CDN_布隆迪_LEO
                        goto('http://192.168.32.70:8080/bi/Viewer?proc=1&action=viewer&hback=true&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!5e03!!9686!!8fea!_LEO.db&isAir=false&browserType=chrome');
                        break;
                    case 89://CDN_塞内加尔_Expresso
                        goto('http://192.168.32.70:8080/bi/Viewer?proc=1&action=viewer&hback=true&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!5c3c!!65e5!!5229!!4e9a!_MTN.db&isAir=false&browserType=chrome');
                        break;
                    case 90://CDN_科特_MTN
                        goto('http://192.168.32.70:8080/bi/Viewer?proc=1&action=viewer&hback=true&db=!5927!!5c4f!!5c55!!793a!!2f!!7efc!!5408!!4e1a!!52a1!!670d!!52a1!!76d1!!63a7!!5e73!!53f0!_!52a0!!9875!!9762!_!5de5!!5355!_!5de6!_!79d1!!7279!.db&isAir=false&browserType=chrome');
                        break;
                    default:
                }
            } else {
              alert(params.data.name + '的grafana子页面未配置')
            }
        }
      }
    })
    function goto(url){
      if (url) {
        top.location.href = url
      }
    }
  </script>
  <script src="./js/template-web.js?version=1528769604144" charset="utf-8"></script>
  <script id="ledTpl" type="text/html">
    {{each value}}
    {{if $value=='.'}}
    <div class="led-point"></div>
    {{else}}
    <ul class="led-number">
			<li><img src="{{if $value=='1' || $value=='4'}}./img/back.png{{else}}./img/front.png{{/if}}" width="100%" height="100%"></li>
			<li><img src="{{if $value=='1' || $value=='2' || $value=='3' || $value=='7'}}./img/back.png{{else}}./img/front.png{{/if}}" width="100%" height="100%"></li>
			<li><img src="{{if $value=='5' || $value=='6'}}./img/back.png{{else}}./img/front.png{{/if}}" width="100%" height="100%"></li>
			<li><img src="{{if $value=='0' || $value=='1' || $value=='7'}}./img/back.png{{else}}./img/front.png{{/if}}" width="100%" height="100%"></li>
			<li><img src="{{if $value=='1' || $value=='3' || $value=='4' || $value=='5' || $value=='7' || $value=='9'}}./img/back.png{{else}}./img/front.png{{/if}}" width="100%" height="100%"></li>
			<li><img src="{{if $value=='2'}}./img/back.png{{else}}./img/front.png{{/if}}" width="100%" height="100%"></li>
			<li><img src="{{if $value=='1' || $value=='4' || $value=='7'}}./img/back.png{{else}}./img/front.png{{/if}}" width="100%" height="100%"></li>
    </ul>
    {{/if}}
    {{/each}}
  </script>
  <script src="./js/main.js?version=1528769604144" charset="utf-8"></script>
</body>

</html>
