
html, body, :global(#root) {
  height: 100%;
  margin: 0;
  padding: 0;
  font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
  background-color: #f8fbfc;
  color: #5a656f;
}
:global(.error-confirm-content .ant-confirm-content) {
  margin-top: 0;
  color: #fa5343;
}
