.header {
  background-color: #d43d3d;
  position: fixed;
  top: 0;
  width: 100%;
  height: 45px;
  text-align: center;
  font-family: "Microsoft YaHei";
  color: #fff;
  line-height: 50px;
  font-size: 20px;
  z-index: 9999;
}
.logo {
  width: 100%;
  height: 50px;
  display: block;
  font-size: 0;
}
/* .logo {
  display: inline-block;
  width: 150px;
  height: 20px;
  margin-top: 13px;
}
.title {
  display: inline-block;
  width: 155px;
  height: 15px;
  margin-top: 18px;
} */
