.body {
  padding: 18px 24px;
  background: #fff;
  border-bottom: 1px solid #f4f4f4;
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.04);
}
.content {
  .title {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    height: 24px;
    margin-bottom: 4px;
    display: inline-block;
    & a:hover {
      color: #d43d3d;
    }
  }
  .footer {
    margin-top: 5px;
    font-size: 13px;
    color: #8a8a8a;
    line-height: 24px;
    .zt {
      color: #d43d3d;
      font-weight: 700;
      margin-right: 15px;
    }
    .source {
      color: #3d3d3d;
      margin-right: 15px;
    }
    .type {
      display: inline-block;
      color: #fff;
      font-size: 12px;
      margin-right: 10px;
      line-height: 1;
      height: 20px;
      line-height: 20px;
      padding: 0 10px;
    }
  }
}
