.content{
  width: 100%;
  /* background: #f5f6f7; */
}
.body {
  width: 960px;
  margin: 10px auto 0;
  min-height: 100%;
  display: flex;
}
.menu {
  width: 250px;
  margin-top: 20px;
}
.news {
  width: 100%;
  padding: 0 30px;
}
