.header {
  width: 100%;
  min-width: 1092px;
  height: 34px;
  line-height: 34px;
  background: #222;
  font-size: 14px;
  background: #fff;
  color: #333;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
}
.center {
  width: 1092px;
  margin: 0 auto;
  padding-left: 110px;
}
.logo {
  display: inline-block;
}
.title {
  display: inline-block;
  margin-left: 50px;
}
