.header {
  width: 100%;
  min-width: 1092px;
  height: 55px;
  line-height: 55px;
  background: #fff;
  border: 1px solid rgba(221, 221, 221, 0.6);
}
.center {
  width: 960px;
  height: 55px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo, .title {
  display: inline-block;
}
.logo img {
  vertical-align: middle;
  height: 34px;
  display: block;
  font-size: 0;
}
.title img{
  vertical-align: middle;
  height: 17px;
  display: block;
  font-size: 0;
}
